@import "tailwindcss";
@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --bg: #021116;
  --overlay: rgba(0, 0, 0, 0.25);
  font-family: Inter, "Segoe UI", Roboto, Arial, sans-serif;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

.app {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: radial-gradient(
    ellipse at bottom,
    rgba(4, 38, 40, 0.6) 0%,
    rgba(2, 11, 12, 0.95) 60%
  );
}

/* canvas fills full area */
.interactive-canvas {
  position: absolute;
  inset: 0;
  z-index: 0;
  display: block;
}
